@media (max-width: 993px) {
  .input-group-prepend span {
    font-size: 11px;
    display: none;
  }
}

.external-link {
  align-items: center;
  display: flex;
  margin-left: 15px;
  font-size: 22px;
}
