<!-- <div
  *ngIf="language && config && checkRights()"
  [ngClass]="[config.positionClass]"
> -->
<div *ngIf="config && checkRights()" [ngClass]="[config.positionClass]" class="form-group form-custom">
  <button *ngIf="!config.request" [class]="config.class" [disabled]="config.disabled" type="submit">
    {{ config.title | translate }}
  </button>
  <a *ngIf="!config.subtype && config.request" [class]="config.class" [disabled]="config.disabled"
    (click)="config.confirmRequired ? dialogConfirm.showQuestionModal() : clickRequest()">
    {{ config.title | translate }}
  </a>
  <a *ngIf="config.subtype === 'delete'&&group.controls[config.field].value" [class]="config.class"
    [disabled]="config.disabled" (click)="config.confirmRequired ? dialogConfirm.showQuestionModal() : clickRequest()">
    {{ config.title | translate }}
  </a>
</div>

<app-dialog-confirm (confirm)="clickRequest()"></app-dialog-confirm>

<div *ngIf="title || icon">
  <button class="e-btn {{ class }}" (click)="clickButton()">
    <app-dynamic-icon *ngIf="icon" [icon]="icon"></app-dynamic-icon>
    {{ title | translate }}
  </button>
</div>