<app-loader *ngIf="loader"></app-loader>
<div class="content-wrapper p-0" *ngIf="config&&!loader">
    <div class="content-body">
        <section class="users-list-wrapper">
            <!-- users filter start -->
            <div class="row mb-2" *ngIf="multiCalendar">
                <div class="col-md-6">
                    <label *ngIf="config.filters.locations.title" class="custom-label">{{
                        config.filters.locations.title | translate
                        }} </label>
                    <ng-select *ngIf="allLocations" [items]="allLocations" [bindLabel]="'name'" [bindValue]="'id'"
                        [(ngModel)]="calendarSettings.location_id" (change)="changeLocation($event)">
                    </ng-select>
                </div>
                <div class="col-md-6">
                    <label *ngIf="config.filters.employees.title" class="custom-label">{{
                        config.filters.employees.title | translate
                        }} </label>
                    <ng-select [items]="allEmployees" [bindLabel]="'firstname'" [bindValue]="'id'"
                        [(ngModel)]="calendarSettings.selectedEmployees" [multiple]="true"
                        (change)="changeEmployees($event)">
                    </ng-select>
                </div>
            </div>
            <div class="card" *ngIf="checkCalendarVisibility()">
                <ejs-schedule #calendar width='100%' [height]="multiCalendar ? '71vh' : '80vh'"
                    [eventSettings]="eventSettings" [group]="group" [showWeekNumber]="true"
                    currentView="{{mobileDevice ? 'Day' : 'WorkWeek'}}" [startHour]="getStartHourForLocation()"
                    [endHour]="getEndHourForLocation()" (actionBegin)="onActionBegin($event)"
                    (popupOpen)="onPopupOpen($event)" (popupClose)="onPopupClose($event)"
                    (eventRendered)="onEventRendered($event)" (dataBound)="onDataBound($event)"
                    (renderCell)="onRenderCell($event)">
                    <ng-template #resourceHeaderTemplate let-data let-item let-index>
                        <div class='template-wrap d-inline-flex align-items-center'>
                            <div class="resource-image avatar mr-1"><img height="40" width="40"
                                    src="../../../../assets/images/avatars/no-user-profile.png">
                                <img class="external-calendar-icon"
                                    *ngIf="checkExternalAccountForGoogle(item.resourceData.id)"
                                    src="../../../../assets/images/icons/google.png"
                                    title="{{'myCalendar.connectedThisCalendarWithGoogle' | translate}}">
                            </div>
                            <div class="resource-details">
                                <div class="d-flex">
                                    <div *ngIf="item.resourceData.text" class="resource-name">{{item.resourceData.text}}
                                    </div>
                                    <span *ngIf="!workTimes[item.resourceData.groupIndex]"
                                        class="fa fa-exclamation not-set-worktime"
                                        title="{{'myCalendar.notSetWorkTimeForUser' | translate}}"></span>
                                </div>
                                <div *ngIf="item.resourceData.position" class="resource-designation">
                                    {{item.resourceData.position}}</div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template #eventTemplate let-data>

                    </ng-template>
                    <ng-template #editorTemplate let-data>
                        <table class="custom-event-editor" width="100%" cellpadding="5">
                            <tbody>
                                <app-dynamic-forms *ngIf="config && config.config.length > 0" [config]="config"
                                    [partOfGrid]="true" [data]="data" #form="dynamicForm">
                                </app-dynamic-forms>

                                <!-- <form #f="ngForm" [formGroup]="data" (submit)="submitForm($event)">
                                    <div class="row">
                                        <div class="col-12 mb-3">
                                            <label>{{'clientData.firstname' | translate}}</label>
                                            <input type="text" class="form-control"
                                                placeholder="{{'clientData.firstnamePlaceholder' | translate}}" formControlName="firstname">
                                            <span *ngIf="submited&&!data.controls.firstname.valid" class="error">
                                                {{'clientData.fillFirstname' | translate}}
                                            </span>
                                        </div>
                                        <div class="col-12 mb-3">
                                            <label>{{'clientData.lastname' | translate}}</label>
                                            <input type="text" class="form-control"
                                                placeholder="{{'clientData.lastnamePlaceholder' | translate}}" formControlName="lastname">
                                            <div *ngIf="submited&&!data.controls.lastname.valid" class="error">
                                                {{'clientData.fillLastname' | translate}}
                                            </div>
                                        </div>
                                        <div class="col-12 mb-3">
                                            <label>{{'clientData.email' | translate}}</label>
                                            <input type="text" class="form-control"
                                                placeholder="{{'clientData.emailPlaceholder' | translate}}" formControlName="email">
                                            <div *ngIf="submited&&!data.controls.email.valid" class="error">
                                                {{'clientData.fillEmail' | translate}}
                                            </div>
                                        </div>
                                        <div class="col-12 mb-3">
                                            <label>{{'clientData.telephone' | translate}}</label>
                                            <ngx-intl-tel-input [cssClass]="'custom'" [preferredCountries]="preferredCountries"
                                                [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
                                                [searchCountryField]="[
                                      SearchCountryField.Iso2,
                                      SearchCountryField.Name
                                    ]" [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.Austria" [maxLength]="15"
                                                [phoneValidation]="true" [separateDialCode]="separateDialCode"
                                                [numberFormat]="PhoneNumberFormat.National" name="telephone" formControlName="telephone">
                                            </ngx-intl-tel-input>
                                            <div *ngIf="submited&&!data.controls.telephone.valid" class="error">
                                                {{'clientData.fillPhone' | translate}}
                                            </div>
                                        </div>
                                        <div class="col-12 mb-3">
                                            <label>{{'clientData.description' | translate}}</label>
                                            <textarea type="text" class="form-control"
                                                placeholder="{{'clientData.descriptionPlaceholder' | translate}}"
                                                formControlName="description" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12 text-center">
                                        <button class="btn btn-primary go-to-payment w-75" type="submit">{{'clientData.goToPayment' |
                                            translate}}</button>
                                    </div>
                                </form> -->

                                <div class="payment-info text-center">
                                    <h6 class="mb-0" *ngIf="data.is_online">{{'myCalendar.scheduledByUser' |
                                        translate}}</h6>
                                    <h6 class="selected-payment" *ngIf="data.is_online&&!data.amount_paid">
                                        {{'myCalendar.selectedPayOnArrivalOption' | translate}}
                                    </h6>
                                    <h6 class="selected-payment" *ngIf="data.is_online&&data.amount_paid">
                                        {{_helpService.replaceText('myCalendar.selectedPayOnline' | translate,
                                        '#amount', data.amount_paid)}}
                                    </h6>
                                </div>
                            </tbody>
                        </table>
                    </ng-template>
                    <e-resources *ngIf="resourceDataSource">
                        <e-resource field='employeeId' title='Employees' name='Doctors'
                            [dataSource]='resourceDataSource' textField='text' idField='id' colorField='color'
                            startHourField='startHour' [allowMultiple]="true" endHourField='endHour'>
                        </e-resource>
                    </e-resources>
                </ejs-schedule>
            </div>
            <div class="need-to-select-container" *ngIf="!checkCalendarVisibility()&&!loader">
                <div class="need-to-select">
                    <img src="../../../../assets/images/illustration/calendar.png">
                    <h3 class="mt-1">{{'myCalendar.selectLocationAndEmployee' | translate}}</h3>
                </div>
            </div>

        </section>
    </div>
</div>