<div *ngIf="config && checkRights()" [ngClass]="[config.width]" [formGroup]="group" class="form-group form-custom">
  <div class="form-check">
    <div class="form-check form-switch">
      <input type="checkbox" class="form-check-input" [id]="config.name" [name]="config.name"
        [formControlName]="config.name">
      <label *ngIf="config.title" class="form-check-label" [for]="config.name">{{
        config.title | translate
        }} <span class="error" title="{{fieldIsRequired}}">{{config.required ? '*' : ''}}</span>
        <app-explanation-mark *ngIf="config.explanation" [explanation]="config.explanation"></app-explanation-mark>
      </label>
    </div>
  </div>
</div>